// Basics
@import 'tools/pre';
@import 'typography/embed';

$form-border-radius: 0;

// Define output settings for project
$output: set-output(css, true);
$output: set-output(form, true);
$output: set-output(table, true);

// Output the whole framework
@import '~henris';

// Defined settings
@import 'tools/post';

// Theme
@import 'typography/typography';
@import 'components/index';

body {
	.input-field {
		--form-body: black;
		--form-border-color: white;
		--form-border-width: 0px;
		--form-text-color: #{color(White)};
		--form-accent-color: #{color(Purple)};
		--form-body-hover: #{mix(color(Purple), color(Black), 50%)};
	}
	-webkit-overflow-scrolling: touch;
}

.content {
	padding: grid(2);
	@media #{$small-only} {
		padding: 4rem 2rem;
	}
}
.page {
	@media #{$medium-up} {
		max-height: 100vh;
		overflow: scroll;
	}
	@media #{$small-only} {
		overflow-x: scroll;
	}
	width: 100%;
	position: relative;
}

.labels .label{
	border-width: 1px 0 1px 0;
	&:first-child{
		border-width: 1px 0 1px 1px;
		
	}
	&:last-child{
		border-width: 1px 1px 1px 0;
		
	}
}

button{
	&:focus{
		outline: none; box-shadow: none;
	}
}

.labels {
	width: 50%;
	@media #{$small-only} {
		width: 100%;
	}
	font-size: 0;
	display: flex;
	float: right;
	.visa-label {
		display: block;
			border-radius: 0;
		text-shadow: 1px 1px 0 color(Black, 0.25);
		&:first-child {
			border-radius: 1rem 0 0 1rem;
		}
		&:last-child {
			border-radius: 0 1rem 1rem 0;
			&:first-child {
				border-radius: 1rem;
			}
		}
		& + .label {
			margin: 0;
		}
	}
}