// Basics
@import 'tools/pre';
@import 'typography/embed';

$form-border-radius: 0;

// Define output settings for project
$output: set-output(css, true);
$output: set-output(form, true);
$output: set-output(table, true);

// Output the whole framework
@import '~henris';

// Defined settings
@import 'tools/post';

// Theme
@import 'typography/typography';
@import 'components/index';

body {
	.input-field {
		--form-body: black;
		--form-border-color: white; 
		--form-border-width: 0px;
		--form-text-color: #{color(White)};
		--form-accent-color: #{color(Purple)};
		--form-body-hover: #{mix(color(Purple), color(Black), 50%)};
	}
	-webkit-overflow-scrolling: touch;
}

.content {
	padding: grid(2);
	@media #{$small-only}{padding: 4rem 2rem;}
}
.page {
	@media #{$medium-up} {
		max-height: 100vh;
		overflow: scroll;
	}
	@media #{$small-only}{
		overflow-x: scroll;
	}
	width: 100%;
	position: relative;
}
.label {
	color: color(White);
	border-radius: 3px;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	padding: 0.25rem 0.5rem;
	&.visa-free {
		background-color: color(Green);
	}
	&.visa-eta {
		background-color: mix(color(Green), color(Yellow), 50%);
	}
	&.visa-on-arrival {
		background-color: color(Yellow);
	}
	&.visa-required {
		background-color: color(Orange);
	}
	&.banned {
		background-color: color(Red);
	}
}