// Basics
@import 'tools/pre';
@import 'typography/embed';
@import '~silicons';

$form-border-radius: 0;

// Define output settings for project
$output: set-output(css, true);
$output: set-output(form, true);
$output: set-output(table, true);
$output: set-output(button, true);

// Output the whole framework
@import '~henris';

// Defined settings
@import 'tools/post';

// Theme
@import 'typography/typography';
@import 'components/index';
body,html{
	
	background-color: color(Black);
}
body{
	-webkit-overflow-scrolling: touch;
	.input-field {
		--form-body: black;
		--form-border-color: white;
		--form-border-width: 0px;
		--form-text-color: #{color(White)};
		--form-accent-color: #{color(Purple)};
		--form-body-hover: #{mix(color(Purple), color(Black), 50%)};
	}
}

.content {
	padding: grid(2);
	@media #{$small-only} {
		padding: 2rem;
	}
}
main {
	section.content {
		position: relative;
		.row {
			max-width: 960px;
		}
		&:nth-child(1) {
			@media #{$small-only} {
				padding-top: 5rem;
			}
		}
	}
}
.page {
	position: relative;
	width: 100%;
	@media #{$medium-up} {
		max-height: 100vh;
		overflow: scroll;
	}
	@media #{$small-only} {
		overflow-x: scroll;
	}
}

.labels .label {
	border-width: 1px 0 1px 0;
	&:first-child {
		border-width: 1px 0 1px 1px;
	}
	&:last-child {
		border-width: 1px 1px 1px 0;
	}
}

button {
	&:focus {
		box-shadow: none;
		outline: none;
	}
}

.labels {
	display: flex;
	float: right;
	width: 50%;
	font-size: 0;
	.visa-label {
		display: block;
		border-radius: 0;
		text-shadow: 1px 1px 0 color(Black, 0.25);
		&:first-child {
			border-radius: 1rem 0 0 1rem;
		}
		&:last-child {
			border-radius: 0 1rem 1rem 0;
			&:first-child {
				border-radius: 1rem;
			}
		}
		& + .label {
			margin: 0;
		}
	}
	@media #{$small-only} {
		width: 100%;
		margin-top: 0.5rem;
	}
}



.short_title {
	@media #{$large-up} {
		display: none;
	}
}
.long_title {
	@media #{$medium-down} {
		display: none;
	}
}