.button{
	--button-padding: .75rem 2rem;
	--button-border-radius: 0;
	--button-background-color: #{color(Blue)};
	--button-text-color: white;
	position: relative;
	font-size: 1rem;
}
@include silicon-math-minus('.icon.reset');

.icon.reset{
	--stroke: 2px;
	top: 50%;
	left: 0.5rem;
	font-size: 14px;
	transform: rotate(45deg);
}
